.resultados {
    margin-bottom: 5em;
}

.modal-body img {
    width: 25em;
}

.modal-body {
    overflow: hidden;
}

.likes {
    height: 2em;
    width: 8em;
    font-size: 0.8em;
    line-height: 17px;
}

img {
    width: 300px;
    vertical-align: middle;
    margin: auto;
    cursor: pointer;
}

.img {
    max-height: 150px;
    overflow: hidden;
    margin-top: 5em;
    display: flex;
}

.subTit {
    max-width: 100%;
    font-size: 1.2em;
    color: #7952b39e;
    font-weight: bold;
    border-bottom: 2px solid;
    opacity: 0;
}

.subTitD {
    opacity: 1;
    transition: opacity 1s;
}

.nr {
    color: #7952b39e;
    font-size: 2em;
    height: 15vh;
    display: flex;
}

.nr span{
    margin: auto;
    vertical-align: middle;
}

